$font-title:  "Big Shoulders Display", serif;
$font-body: "Outfit", sans-serif;
$color-fleshed: #D5966C;
$color-black: #151515;
$color-gray: #444444;

$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;







